<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154541946621-jg4e5cr3usnbqp2naftsd7r94q1pi2p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154541946621-jg4e5cr3usnbqp2naftsd7r94q1pi2p7</string>
	<key>API_KEY</key>
	<string>AIzaSyBoKtQQTxZbNaaHFiy_Q-9-c6DBd2tCqBE</string>
	<key>GCM_SENDER_ID</key>
	<string>154541946621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agriInfo</string>
	<key>PROJECT_ID</key>
	<string>agrinfo-b745b</string>
	<key>STORAGE_BUCKET</key>
	<string>agrinfo-b745b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154541946621:ios:c1b5b2b7c3414c1bf67094</string>
</dict>
</plist>